@typeparam TItem

<div class="updoc-table">
  <table class="table table-hover" style="overflow-x: auto;">
    <thead>
      <tr>@TableHeader</tr>
    </thead>
    <tbody>
      @foreach (var item in Items)
      {
        if (RowTemplate is not null)
        {
          <tr>@RowTemplate(item)</tr>
        }
      }
    </tbody>
  </table>
</div>
