@page "/"
@*
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@
@inherits BasePage

<h1>Index</h1>

<div class="page-container">
	<h1>WelcomeHeader</h1>

	<h3>AttentionHeader</h3>
</div>
